/**
 * Book details welcome
 * ----------------------------------
*/

article.book-welcome {	
	background-position: center;
	background-repeat: no-repeat;
	height: 350px;
	margin: 40px 0px 55px 0px;
	position: relative;
	z-index: 2;
}

article.book-welcome section.quick-info {
	position: absolute;
	top: 0px;
	width: 100%;
}

article.book-welcome section.quick-info h2 {
	background-color: rgba(255, 255, 255, 0.3);
	color: #222222;
	font-size: 32px;
	font-weight: bolder;
	letter-spacing: 1px;
	margin: 0px 0px 0px 300px;
	padding: 15px 15px 15px 60px;
}

article.book-welcome section.quick-info h3 {
	background-color: rgba(255, 255, 255, 0.3);
	color: #222222;
	font-size: 20px;
	font-weight: lighter;
	margin: 0px 0px 0px 300px;
	padding-left: 60px;
}

@media screen and (max-width: 650px) { 
	article.book-welcome {
		background-image: none !important;
		height: auto;
		margin: 0px;
		padding: 0px 10% 20px 10%;
		text-align: center;
	}
	
	article.book-welcome section.quick-info {
		position: static;
	}
	
	article.book-welcome section.quick-info h2 {
		font-size: 27px;
		font-weight: 300;
	}
	
	article.book-welcome section.quick-info h2, article.book-welcome section.quick-info h3 {
		background-color: transparent;
		margin: 0px;
		padding: 0px;
	}
}

/**
 * Book cover
 * ----------------------------------
*/

article.book-welcome section.cover {
	-moz-shadow: 0px 0px 15px #000000;
	-ms-shadow: 0px 0px 15px #000000;
    -o-shadow: 0px 0px 15px #000000;
	-webkit-shadow: 0px 0px 15px #000000;
	box-shadow: 0px 0px 15px #000000;
	
	background: #181818;
	clear: both;
	display: inline-block;
	margin: -40px 0px 0px 25px;
	min-height: 401px;
	min-width: 275px;
	padding: 11px 10px;
	position: relative;
	z-index: 2;
}

article.book-welcome section.cover span.purchase {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	
	background: #006DCC;
	border: 1px solid #FFFFFF;
	bottom: 10px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	margin-top: 10px;
	padding: 7px 0px 7px 0px;
	position: absolute;
	text-align: center;
	width: 273px;
}

article.book-welcome section.cover span.purchase:hover {
	background: #22AAEE;
}

article.book-welcome section.cover footer ul {
	list-style: none;
	margin: 10px 0px 0px 0px;
	text-align: center;
}

article.book-welcome section.cover footer ul li {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	
	background: url(sprites/social-icons.png) no-repeat;
	display: inline-block;
	height: 45px;
	margin: 0px 5px 0px 5px;
	width: 45px;
}

article.book-welcome section.cover footer ul li:first-child {
	margin-left: 0px;
}

article.book-welcome section.cover footer ul li:last-child {
	margin-right: 0px;
}

article.book-welcome section.cover footer ul li.facebook {
	background-position: 17px 11px;
}

article.book-welcome section.cover footer ul li.facebook:hover {
	background-color: #3B5998;
}

article.book-welcome section.cover footer ul li.twitter {
	background-position: -27px 11px;
}

article.book-welcome section.cover footer ul li.twitter:hover {
	background-color: #46C8F5;
}

article.book-welcome section.cover footer ul li.google-plus {
	background-position: -71px 12px;
}

article.book-welcome section.cover footer ul li.google-plus:hover {
	background-color: #DE4B38;
}

article.book-welcome section.cover footer ul li.pinterest {
	background-position: -115px 11px;
}

article.book-welcome section.cover footer ul li.pinterest:hover {
	background-color: #CC2127;
}

article.book-welcome section.cover footer ul li.email {
	background-position: -158px 11px;
}

article.book-welcome section.cover footer ul li.email:hover {
	background-color: #009BAD;
}

@media screen and (max-width: 650px) { 
	article.book-welcome section.cover {
		margin: 30px 0px 0px 0px;
	}
}

/**
 * Book details container
 * ----------------------------------
*/

section.container {
	background: #F5F5F5;
	display: table;
	margin: -60px 0px 0px 0px;
	table-layout: auto;
	width: 100%;
}

section.container > h2 {
	display: none;
}

section.container div.row {
	display: table-row;
}

@media screen and (max-width: 650px) { 
	section.container {
		margin: 0px;
	}
}

/**
 * Book details section
 * ----------------------------------
*/

section.container div.row section.details {
	-moz-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-ms-box-shadow: 0px 4px 10px 0px #CCCCCC;
    -o-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-webkit-box-shadow: 0px 4px 10px 0px #CCCCCC;
    box-shadow: 0px 4px 10px 0px #CCCCCC;
	
	background-color: #FFFFFF;
	border-right: 1px solid #CCCCCC;
	display: table-cell;
	margin-right: 350px;
	vertical-align: top;
	width: 100%;
}

section.container div.row section.details section.content {
	min-height: 50px;
	position: relative;
}

section.container div.row section.details section.content.stripe {
	background: #EAF3FA;
}

section.container div.row section.details section.content.first {
	border-top: none;
}

section.container div.row section.details section.content h3 {
	display: none;
}

section.container div.row section.details section.content figure {
	background: url(sprites/book.png) no-repeat;
	display: inline-block;
	height: 64px;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	top: -46.5px;
	width: 64px;
}

section.container div.row section.details section.content figure.info {
	background-position: 0px -157px;
}

section.container div.row section.details section.content figure.courses {
	background-position: 0px -233px;
}

section.container div.row section.details section.content figure.comments {
	background-position: 0px -309px;
}


@media screen and (max-width: 980px) { 
	section.container div.row section.details {
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		-o-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		
		border-right: none;
		margin-right: 0px;
	}
}

@media screen and (max-width: 650px) { 
	section.container div.row section.details section.content {
		background: #EAF3FA;
	}
	
	section.container div.row section.details section.content.stripe {
		background: #FFFFFF;
	}
	
	section.container div.row section.details section.content.first {
		border-top: 1px solid #DDDDDD;
	}
}

/**
 * Sidebar
 * ----------------------------------
*/

section.container div.row aside.supplement {
	display: table-cell;
	float: right;
	padding-bottom: 10px;
	width: 350px;
}

section.container div.row aside.supplement > h3 {
	background: #006DCC;
	color: #FFFFFF;
	font-size: 17px;
	padding-left: 7px;
}

section.container div.row aside.supplement p.empty {
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

section.container div.row aside.supplement ul {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 40px 0px;
    text-align: center;
}

section.container div.row aside.supplement ul:last-child {
    padding: 0px;
}

section.container div.row aside.supplement ul li {
	-moz-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-ms-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-o-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-webkit-box-shadow: 0px 4px 10px 0px #CCC;
	box-shadow: 0px 4px 10px 0px #CCC;
	
    -moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    
	background: #FFFFFF no-repeat top;
    border: 1px solid #CCCCCC;
	color: #777777;
    display: inline-block;
    height: 200px;
    margin: 7px;
    position: relative;
    vertical-align: top;
    width: 300px;
}

section.container div.row aside.supplement ul li:hover {
    border: 1px solid #555555;
}

section.container div.row aside.supplement ul li a {
	color: #777777;
}

section.container div.row aside.supplement ul li h3 {
    font-size: 18px;
	font-weight: lighter;
	height: 37px;
	line-height: 1.25;
	margin: 0px;
	max-height: 37px;
	overflow: hidden;
    padding: 107px 10px 56px 10px;
	text-align: left;
	text-overflow: ellipsis;
}

section.container div.row aside.supplement ul li p.price {
	background: url(sprites/actions.png) no-repeat;
	bottom: 0px;
	font-size: 11px;
	height: 22px;
	margin: 0px;
	padding-left: 30px;
	position: absolute;
}

@media screen and (max-width: 980px) {   
	section.container div.row aside.supplement {
		display: none;
	}
}