/**
 * Course welcome section
 * ----------------------------------
*/

section#splash div.ad-container {
	height: 280px;
	max-height: 280px;
	min-height: 280px;
}

section#splash div.ad-container div.ad-contents > h2 {
	display: none;
	padding-top: 110px;
}

section#splash div.ad-container div.ad-contents > h2.force-show {
	display: block;
}

section#splash div.course-welcome {
	background-color: rgba(51, 51, 51, 0.9);
	height: 280px;
	padding-bottom: 1px;
	position: absolute;
	text-align: center;
	top: 1px;
	width: 350px;
}

section#splash div.course-welcome img {
	padding-top: 20px;
}

section#splash ul.welcome-minor {
	background-color: rgba(51, 51, 51, 0.9);
	bottom: 0px;
	display: none;
	height: 60px;
	margin: 0px;
	position: absolute;
	text-align: center;
	width: 100%;
}

section#splash ul.welcome-minor li {
	color: #FFFFFF;
	display: inline-block;
	font-size: 36px;
	font-weight: 300;
	height: 61px;
	line-height: 1.6;
	list-style: none;
	padding: 0px 7px;
	text-align: center;
	vertical-align: middle;
}

section#splash ul.welcome-minor li img {
	padding: 3px 7px 7px 7px;
}

@media screen and (max-width: 980px) {
	section#splash div.ad-container div.ad-contents > h2.force-show {
		display: none;
	}
	
	section#splash div.course-welcome {
		display: none;
	}
	
	section#splash ul.welcome-minor {
		display: block;
	}
}

@media screen and (max-width: 650px) {
	section#splash {
		border: none;
		display: block;
		height: 61px;
	}
	
	section#splash div.ad-container {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	section#splash ul.welcome-minor li {
		font-size: 25px;
		line-height: 2.23;
	}
	
	section#splash ul.welcome-minor li img {
		padding-top: 7px;
	}
}

@media screen and (max-width: 430px) {
	section#splash ul.welcome-minor li {
		font-size: 20px;
		line-height: 2.9;
	}
	
	section#splash ul.welcome-minor li img {
		padding-top: 8px;
	}
}

/**
 * Parent content container
 * ----------------------------------
*/

section.container {
	display: table;
	margin: -3px 0px 0px 0px;
	max-width: 100%;
	overflow: hidden;
	table-layout: auto;
	width: 100%;
}

section.container > h2 {
	display: none;
}

section.container div.row {
	background-color: rgba(51, 51, 51, 0.9);
	display: table-row;
}

@media screen and (max-width: 980px) { 
	section.container {
		margin: 0px;
	}

	section.container div.row {
		background: #FFFFFF;
	}
}

/**
 * Course details section
 * ----------------------------------
*/

section.container div.row section.details {
	background-color: #FFFFFF;
	display: table-cell;
	margin-right: 350px;
	vertical-align: top;
	width: 100%;
}

section.container div.row section.details section.content h2 {
	display: none;
}

section.container div.row section.details section.content p span.mobile {
	display: none;
}

section.container div.row section.details section.content.directions {
	padding-bottom: 20px;
}

section.container div.row section.details canvas#explorer {
	display: block;
}

section.container div.row section.details canvas#explorer.link {
	cursor: pointer;
}

section.container div.row section.details section.content.mobile {
	display: none;
	padding-top: 0px;
}

section.container div.row section.details section.content.mobile ul {
	margin: 0px;
}

section.container div.row section.details section.content.mobile ul li {
	border-bottom: 1px solid #DDDDDD;
	display: block;
	height: 50px;
	list-style: none;
	margin: 15px 0px;
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

section.container div.row section.details section.content.mobile ul li:last-child {
	border-bottom: none;
}

section.container div.row section.details section.content.mobile ul li h3 {
	color: #828282;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 0px;
	margin-left: 0px;
	padding: 0px;
	vertical-align: top;
}

section.container div.row section.details section.content.mobile ul li span {
	color: #828282;
	display: block;
	font-size: 13px;
	margin: 0px;
}

section.container div.row section.details section.content.mobile ul li:hover h3, section.container div.row section.details section.content.mobile ul li:hover span {
	color: #000000;
}

section.container div.row section.details section.no-data h2 {
	display: block;
}

section.container div.row section.details section.no-data a {
	color: #FFFFFF;
	margin-top: 40px;
}

@media screen and (max-width: 980px) { 
	section.container div.row section.details {
		border-right: none;
		margin-right: 0px;
	}

	section.container div.row section.details section.content p span.desktop {
		display: none;
	}
	
	section.container div.row section.details section.content p span.mobile {
		display: inline;
	}
	
	section.container div.row section.details canvas#explorer {
		display: none;
	}
	
	section.container div.row section.details section.content.mobile {
		display: block;
	}
}

@media screen and (max-width: 650px) {
	section.container div.row section.details section.content.book-list {
		padding-left: 10%;
		padding-right: 10%;
	}
}

/**
 * Sidebar
 * ----------------------------------
*/

section.container div.row aside.supplement {
	display: table-cell;
	float: left;
	padding-bottom: 10px;
	width: 350px;
}

section.container div.row aside.supplement > h2 {
	color: #FFFFFF;
	font-weight: 300;
	margin: 20px 0px 5px 0px;
	text-align: center;
}

section.container div.row aside.supplement > h3 {
	color: #FFFFFF;
	font-size: 17px;
	font-weight: 300;
	margin: 0px;
	text-align: center;
}

section.container div.row aside.supplement hr {
	background: #FFFFFF;
	border: none;
	height: 1px;
	margin-left: 5%;
	text-align: center;
	width: 90%;
}

section.container div.row aside.supplement ul.navigation {
	list-style: none;
	margin: 25px 0px 25px 0px;
	padding-left: 0px;
}

section.container div.row aside.supplement ul.navigation li {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	
	background: url(sprites/browse.png) no-repeat;
	color: #FFFFFF;
	font-size: 13px;
	text-transform: uppercase;
}

section.container div.row aside.supplement ul.navigation li.more {
	background-position: 35px 10px;
}

section.container div.row aside.supplement ul.navigation li.sell {
	background-position: 35px -25px;
}

section.container div.row aside.supplement ul.navigation li a, section.container div.row aside.supplement ul.navigation li span {
	color: #FFFFFF;
	display: block;
	padding: 10px 0px 10px 75px;
}

section.container div.row aside.supplement ul.navigation li:hover {
	background-color: #666666;
}

section.container div.row aside.supplement p.empty {
	padding-top: 40px;
	text-align: center;
	width: 100%;
}

section.container div.row aside.supplement ul.new {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 40px 0px;
}

section.container div.row aside.supplement ul.new:last-child {
	padding: 0px;
}

section.container div.row aside.supplement ul.new li {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	
	color: #FFFFFF;
	display: block;
	height: 120px;
	margin: 7px 0px;
	padding: 12px 17px;
	position: relative;
	vertical-align: top;
}

section.container div.row aside.supplement ul.new li:hover {
	background-color: #666666;
}

section.container div.row aside.supplement ul.new li a {
	color: #FFFFFF;
}

section.container div.row aside.supplement ul.new li a img {
	float: left;
	height: 120px;
	max-height: 120px;
	max-width: 80px;
	min-height: 120px;
	min-width: 80px;
	width: 80px;
}

section.container div.row aside.supplement ul.new li h3 {
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bolder;
	letter-spacing: 1px;
	line-height: normal;
	margin: 0px;
	max-height: 60px;
	overflow: hidden;
	padding: 3px 0px 0px 20px;
	text-align: left;	
	text-overflow: ellipsis;
	text-transform: uppercase;
}

section.container div.row aside.supplement ul.new li h4 {
	color: #999999;
	font-size: 11px;
	font-weight: normal;
	line-height: 1.4;
	margin: 0px 0px 20px 0px;
	padding: 5px 0px 0px 100px;
}

section.container div.row aside.supplement ul.new li p.price {
	bottom: 3px;
	color: #FFFFFF;
	font-size: 15px;
	font-weight: lighter;
	left: 100px;
	padding: 100px 0px 0px 15px;
	position: absolute;
	right: 15px;
}

@media screen and (max-width: 980px) {   
	section.container div.row aside.supplement {
		display: none;
	}
}

/**
 * Book details section
 * ----------------------------------
*/

section.content h2 {
	display: none;
}

section.content p span.mobile {
	display: none;
}

section.book-list {
	padding-top: 0px;
}

@media screen and (max-width: 980px) {
	section.content p span.desktop {
		display: none;
	}
	
	section.content p span.mobile {
		display: inline;
	}
}