/**
 * General styles
 * ----------------------------------
*/

body {
	background: #FFFFFF;
	overflow: visible;
}

body.show {
	overflow: auto;
}

/**
 * Body header
 * ----------------------------------
*/

header#main {
	top: 0px;
	position: fixed !important;
}

header#main a.logo {
	background-position: 0px -200px !important;
}

header#main a.logo:hover {
	background-position: 0px -85px !important;
}

/**
 * Loader mask
 * ----------------------------------
*/

body section.loader {
	background: #FAFAFA url(sprites/loader.png) no-repeat center center;
	bottom: 0px;
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 200;
}

body.show section.loader {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in;
	
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
    filter: alpha(opacity=0);
	opacity: 0;
}

/**
 * Welcome section
 * ----------------------------------
*/

section.welcome {
	bottom: 102px;
	min-height: 400px;
	position: fixed;
	top: 135px;
	width: 100%;
	z-index: -1;
}

section.welcome div h2 {
	color: #1F1F1F;
	font-weight: lighter;
	line-height: normal;
	letter-spacing: 7px;
	margin: 0px;
	padding-top: 0px;
	text-align: center;
	text-transform: uppercase;
}

section.welcome div h2::after {
	border-top: 2px solid #1F1F1F;
	content: ' ';
	display: block;
	margin: 15px auto 0px auto;
	padding: 0px;
	text-align: center;
	width: 200px;
}

section.welcome div {
	height: 410px;
	margin-top: -205px;
	position: absolute;
	top: 50%;
	width: 100%;
}

section.welcome div ul {
	list-style: none;
	margin: 40px 0px 0px 0px;
	padding: 0px;
	text-align: center;
	width: 100%;
}

section.welcome div ul li {
	background: #1F1F1F url(sprites/welcome-icons.png) no-repeat;
	cursor: pointer;
    display: inline-block;
    height: 292px;
    margin: 7px;
	padding: 0px;
    position: relative;
    vertical-align: top;
    width: 305px;
}

section.welcome div ul li.sell {
	background-position: 113px 132px;
}

section.welcome div ul li.sell:hover {
	background-position: 113px -257px;
}

section.welcome div ul li.browse {
	background-position: -172px 130px;
}


section.welcome div ul li.browse:hover {
	background-position: -172px -259px;
}

section.welcome div ul li.browse span.count {
	background: #0044CC;
	border-radius: 50px;
	color: #FFFFFF;
	display: inline-block;
	font-weight: bolder;
	height: 100px;
	position: absolute;
	right: -15px;
	text-transform: uppercase;
	top: -40px;
	width: 100px;
}

section.welcome div ul li.browse span.count span {
	left: 0px;
	letter-spacing: 4px;
	position: absolute;
	text-align: center;
	top: 27px;
	width: 100%;
}

section.welcome div ul li.search {
	background-position: -482px 120px;
}

section.welcome div ul li.search:hover {
	background-position: -482px -269px;
}

section.welcome div ul li h3 {
	color: #FFFFFF;
    font-size: 18px;
	font-weight: 600;
	letter-spacing: 8px;
	padding: 46px 0px 197px 0px;
	margin: 0px;
	text-transform: uppercase;
}

section.welcome div ul li h3::after {
	border-top: 2px solid #FFFFFF;
	content: ' ';
	display: block;
	margin: 7px auto 0px auto;
	padding: 0px;
	width: 200px;
}

@media screen and (max-width: 980px) {
	section.welcome {
		min-height: 200px;
		top: 188px;
	}
	
	section.welcome div {
		height: 210px;
		margin-top: -105px;
	}
	
	section.welcome div ul li {
		height: 100px
	}
	
	section.welcome div ul li.search {
		display: none;
	}
	
	section.welcome div ul li h3 {
		padding: 30px 0px 30px 0px;
	}
	
	section.welcome div ul li h3::after {
		display: none;
	}
}

@media screen and (max-width: 650px) {
	section.welcome {
		height: 190px;
		max-height: 190px;
		min-height: 190px;
		padding: 30px 5% 0px 5%;
		width: 90%;
	}
	
	section.welcome div h2 { 
		font-size: 20px;
		margin-top: 25px;
		width: 90%;
	}
	
	section.welcome div h2::after {
		border-top: 1px solid #1F1F1F;
		margin: 10px auto 0px auto;
	}
	
	section.welcome div ul {
		margin-top: 15px;
		width: 90%;
	}
	
	section.welcome div ul li {
		border: 1px solid #000000;
		height: 40px;
		margin: 0px 0px 10px 0px;
		padding: 0px;
		width: 100%;
	}
	
	section.welcome div ul li h3 {
		font-size: 13px;
		font-weight: bold;
		height: 20px;
		letter-spacing: normal;
		line-height: normal;
		padding: 10px 0px 10px 0px;
	}
	
	section.welcome div ul li.browse span.count {
		display: none;
	}
}

/**
 * Explore section - header
 * ----------------------------------
*/

section.explore {
	background: #FFFFFF;
	color: #828282;
	min-height: 602px;
    padding-bottom: 1px;
	position: relative;
	width: 100%;
}

section.explore.fixed {
	min-height: 500px;
	padding-top: 100px;
}

section.explore header {
	background: #FCFCFC url(sprites/search-bar.png) no-repeat top left;
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #000000;
	height: 100px;
	max-height: 100px;
	min-height: 100px;
	text-align: center;
}

section.explore.fixed header {
	-moz-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-ms-box-shadow: 0px 4px 10px 0px #CCCCCC;
    -o-box-shadow: 0px 4px 10px 0px #CCCCCC;
	-webkit-box-shadow: 0px 4px 10px 0px #CCCCCC;
    box-shadow: 0px 4px 10px 0px #CCCCCC;
	
	left: 0px;
	position: fixed;
	right: 0px;
	top: 0px;
	z-index: 20;
}

section.explore header h2 {
	display: none;
}

section.explore header div.wrapper {
	background: url(sprites/search-bar.png) no-repeat right bottom;
    padding: 35px 0px 30px 0px;
}

section.explore header div.wrapper div.input {
	display: inline-block;
}

section.explore header div.wrapper div.input input#search-main {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	float: left;
	font-size: 14px;
	margin: 0px;
	width: 500px;
}

section.explore header div.wrapper div.options {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
    filter: alpha(opacity=0);
	opacity: 0;
	
	display: inline-block;
	height: 30px;
	max-width: 0px;
	min-width: 0px;
	overflow: hidden;
	text-align: left;
	width: 0px;
}

section.explore header div.wrapper div.options div {
	float: right;
	position: relative;
}

section.explore header div.wrapper div.options div span {
	position: absolute;
	top: 5px;
}

section.explore header div.wrapper div.options div select.by, section.explore header div.wrapper div.options div select.in {
	margin-left: 20px;
}

section.explore header div.wrapper div.options div select.sort {
	margin-left: 80px;
}

section.explore header button.close-search {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
	
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
    filter: alpha(opacity=0);
	opacity: 0;
	
	margin-top: 10px;
	position: absolute;
	right: 10px;
	z-index: 5;
}

section.explore header button.close-search span.small {
	display: none;
}

@media screen and (max-width: 980px) {
	section.explore header div.wrapper div.options div span.sortText, section.explore header div.wrapper div.options div select.sort {
		display: none;
	}
}

@media screen and (max-width: 750px) {
	section.explore.fixed {
		padding-top: 50px;
	}
	
	section.explore header div.wrapper div.input input#search-main {
		width: 300px;
	}
	
	section.explore header div.wrapper div.options div span.inText, section.explore header div.wrapper div.options div select.in {
		display: none;
	}
}

@media screen and (max-width: 650px) {	
	section.explore header {
		background-image: none;
		height: 50px;
		max-height: 50px;
		min-height: 50px;
	}
	
	section.explore header div.wrapper {
		background: none;
		padding: 10px 0px 10px 0px;
	}
	
	section.explore header div.wrapper div.input input#search-main {
		width: 200px;
	}
}

@media screen and (max-width: 550px) {		
	section.explore header button.close-search span.large {
		display: none;
	}
	
	section.explore header button.close-search span.small {
		display: inline;
	}
}

@media screen and (max-width: 400px) {
	section.explore header div.wrapper div.options div span.byText, section.explore header div.wrapper div.options div select.by {
		display: none;
	}
}

/**
 * Explore section - courses
 * ----------------------------------
*/

section.explore section.courses {	
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
    filter: alpha(opacity=1);
	opacity: 1;
}

section.explore section.courses.liberal-arts {
	background: #FFFFFF;
	border-top: none !important;
}

section.explore section.courses.science-mathematics {
	background: #F5F5F5;
}

section.explore section.courses ul {
	margin: 0px 0px 0px 70px;
	text-align: center;
	max-width: 100%;
}

section.explore section.courses ul li {
	background-repeat: no-repeat;
	display: inline-block;
	margin: 10px 10px 30px 10px;
	min-height: 50px;
	max-width: 200px;
	min-width: 200px;
	text-align: left;
	vertical-align: top;
	width: 200px;
}

section.explore section.courses ul li a h3 {
	color: #828282;
	font-size: 16px;
	font-weight: 100;
	line-height: 20px !important;
	margin: 0px;
	padding: 59px 0px 5px 0px;
}

section.explore section.courses ul li a p {
	color: #828282;
	font-size: 13px;
	margin: 0px;
}

section.explore section.courses ul li a:hover h3, section.explore section.courses ul li a:hover p {
	color: #000000;
}

@media screen and (max-width: 940px) {
	section.explore section.courses ul {
		margin: 0px;
	}
	
	section.explore section.courses ul li {
		border-bottom: 1px solid #DDDDDD;
		display: block;
		margin: 15px 0px 0px 0px;
		max-width: 100%;
		min-width: 100%;
		padding-bottom: 15px;
		width: 100%;
	}
	
	section.explore section.courses ul li:last-child {
		border-bottom: none;
	}
	
	section.explore section.courses ul li a h3 {
		font-size: 15px;
		letter-spacing: 1px;
		line-height: 20px;
		margin: 0px;
		margin-left: 0px;
		padding: 0px 0px 0px 60px;
		vertical-align: top;
	}
	
	section.explore section.courses ul li a p {
		padding: 0px 0px 0px 60px;
	}
}

/**
 * Explore section - search
 * ----------------------------------
*/

section.explore.active-search {
	 background: #FFFFFF url(sprites/searching.gif) no-repeat center 250px;
}

section.explore.show-controls header div.wrapper div.input input#search-main {
	margin-right: 10px;
	width: 300px;
}

section.explore.show-controls header div.wrapper div.options {
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
    filter: alpha(opacity=1);
	opacity: 1;
	
	max-width: 595px;
	min-width: 595px;
	width: 595px;
}

section.explore.show-controls header div.wrapper div.options div {
	max-width: 595px;
	min-width: 595px;
	width: 595px;
}

section.explore.show-controls header button.close-search {
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	-webkit-opacity: 1;
    filter: alpha(opacity=1);
	opacity: 1;
}

section.explore.active-search div.loader-mask {
	background: rgba(255, 255, 255, 0.5);
	bottom: 0px;
	position: absolute;
	top: 145px;
	width: 100%;
	z-index: 15;
}

section.explore.active-search section.courses {
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	-webkit-opacity: 0;
    filter: alpha(opacity=0);
	opacity: 0;
}

section.explore.active-search section.search-hotspot {
	min-height: 500px;
	position: relative;
	top: 0px;
	width: 100%;
}

@media screen and (max-width: 980px) {
	section.explore.show-controls header div.wrapper div.options, section.explore.show-controls header div.wrapper div.options div {
		max-width: 360px;
		min-width: 360px;
		width: 360px;
	}
}

@media screen and (max-width: 750px) {
	section.explore.show-controls header div.wrapper div.options, section.explore.show-controls header div.wrapper div.options div {
		max-width: 120px;
		min-width: 120px;
		width: 120px;
	}
}

@media screen and (max-width: 550px) {
	section.explore.show-controls header div.wrapper div.input input#search-main {
		margin: 0px;
		width: 200px;
	}
}

@media screen and (max-width: 400px) {
	section.explore.show-controls header div.wrapper div.options, section.explore.show-controls header div.wrapper div.options div {
		display: none;
	}
}

/**
 * Explore section - search list
 * ----------------------------------
*/

section.explore.active-search section.search-hotspot ul {
	background-color: #FFFFFF;
	margin: 20px 10% 20px 10%;
	width: 80%;
}

section.explore.active-search section.search-hotspot ul li {
	border-bottom: 1px solid #DDDDDD;
	clear: both;
	list-style: none;
	padding: 50px 40px;
	position: relative;
	overflow: auto;
    vertical-align: top;
}

section.explore.active-search section.search-hotspot ul li:last-child {
	border-bottom: none;
}

section.explore.active-search section.search-hotspot ul li img {
	float: left;
}

section.explore.active-search section.search-hotspot ul li h3 {
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 20px;
	margin: 0px;
	margin-left: 135px;
	vertical-align: top;
}

section.explore.active-search section.search-hotspot ul li h3 a {
	color: #222222;
	font-weight: bolder;
	text-transform: uppercase;
}

section.explore.active-search section.search-hotspot ul li h3 span {
	color: #999999;
	font-size: 11px;
	font-weight: normal;
}

section.explore.active-search section.search-hotspot ul li p {
	color: #777777;
	font-size: 15px;
	margin: 0px 0px 5px 135px;
}

section.explore.active-search section.search-hotspot ul li p.merchant {
	margin-top: 15px;
}

section.explore.active-search section.search-hotspot ul li p.condition {
	background: url(sprites/ratings.png) no-repeat;
}

section.explore.active-search section.search-hotspot ul li p.condition.excellent {
	background-position: 90px 1px;
}

section.explore.active-search section.search-hotspot ul li p.condition.very-good {
	background-position: 90px -29px;
}

section.explore.active-search section.search-hotspot ul li p.condition.good {
	background-position: 90px -59px;
}

section.explore.active-search section.search-hotspot ul li p.condition.fair {
	background-position: 90px -89px;
}

section.explore.active-search section.search-hotspot ul li p.condition.poor {
	background-position: 90px -119px;
}

section.explore.active-search section.search-hotspot ul li button {
	bottom: 50px;
	position: absolute;
	left: 175px;
}

section.explore.active-search section.search-hotspot ul li.none h3 {
	margin-left: 0px;
	text-align: center;
}

section.explore.active-search section.search-hotspot ul li.none p {
	margin: 15px 0px 0px 0px;
}

@media screen and (max-width: 650px) {	
	section.explore.active-search section.search-hotspot ul li {
		padding: 20px 15px 50px 15px;
	}
	
	section.explore.active-search section.search-hotspot ul li img {
		max-width: 60px;
	}
	
	section.explore.active-search section.search-hotspot ul li h3 {
		margin-left: 75px;
	}
	
	section.explore.active-search section.search-hotspot ul li p.merchant {
		display: none;
	}
	
	section.explore.active-search section.search-hotspot ul li p.condition {
		margin: 10px 0px 0px 75px;
	}
	
	section.explore.active-search section.search-hotspot ul li button {
		bottom: 13px;
		left: auto;
		right: 15px;
	}
}