/**
 * General styles
 * ----------------------------------
*/

form {
	margin-bottom: 0px !important;
}

textarea {
	height: 125px;
	width: 400px;
}

.rounded-left {
	-moz-border-radius: 4px 0px 0px 4px !important;
	-ms-border-radius: 4px 0px 0px 4px !important;
	-o-border-radius: 4px 0px 0px 4px !important;
	-webkit-border-radius: 4px 0px 0px 4px !important;
	border-radius: 4px 0px 0px 4px !important;
}

.rounded-right {
	-moz-border-radius: 0px 4px 4px 0px !important;
	-ms-border-radius: 0px 4px 4px 0px !important;
	-o-border-radius: 0px 4px 4px 0px !important;
	-webkit-border-radius: 0px 4px 4px 0px !important;
	border-radius: 0px 4px 4px 0px !important;
}

div#course-template {
	display: none;
}

@media screen and (max-width: 650px) {
    span.collapse {
        display: none;
    }
	
	textarea {
		height: 125px;
		width: 250px;
	}
}

/**
 * Specific style enhancements
 * ----------------------------------
*/

section#splash div.ad-container {
	background-image: url(backgrounds/library.jpg);
}

/**
 * Welcome container
 * ----------------------------------
*/

section.welcome {
	padding: 15px 10% 35px 10%;
}

section.welcome h2 {
	font-size: 27px;
	font-weight: 300;
}

/**
 * Step containers
 * ----------------------------------
*/

section.step {
	border-top: 1px solid #DDDDDD;
	padding: 5px 10% 35px 10%;
}

section.step.stripe {
	background-color: #EAF3FA;
}

section.step.no-border {
	border-top: none;
}

section.step header {
	background: url(sprites/step-circle.png) no-repeat left 30px;
	padding: 30px 0px 30px 65px;
	position: relative;
}

section.step header h2 {
	color: #505050;
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	margin: 0px;
}

section.step header h3 {
	color: #505050;
	font-size: 11px;
	line-height: 13px;
	margin: 0px;
}

section.step header h4.step {
	color: #FFFFFF;
	left: 12.5px;
	position: absolute;
	top: 27.5px;
}

/**
 * Icons and indicators
 * ----------------------------------
*/

span.searching {
	background: none;
	display: none;
	height: 20px;
	vertical-align: middle;
	width: 20px;
}

span.searching.show {
	background: url(sprites/searching-small.gif) no-repeat;
	display: inline-block;
}

td.delete span {
	background: url(sprites/actions.png) no-repeat 0px -22px;
	cursor: pointer;
	display: block;
	height: 20px;
	width: 22px;
}

td.delete span:hover {
	background-position: 0px -42px;
}

span.add-course {
	background: url(sprites/actions.png) no-repeat 0px -62px;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	margin: 20px 0px 0px 65px;
	padding-left: 30px;
}

span.add-course:hover {
	background-position: 0px -82px;
}

@media screen and (max-width: 650px) {
	td.delete span {
		margin-left: 185px;
	}
}

@media screen and (max-width: 480px) {
	span.add-course {
		margin: 40px 0px 0px 0px;
	}
}

/**
 * Dependent courses suggestion list
 * ----------------------------------
*/

div#suggestions {
	margin-left: 60px;
}

div#suggestions h3 {
	font-size: 14px;
	margin: 0px;
	padding-left: 5px;
}

div#suggestions ul {
	list-style: none;
	margin: 0px 0px 40px 0px;
}

div#suggestions ul li {
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in;
	
	background-color: inherit;
	border: 1px solid #1F1F1F;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	padding: 5px 10px;
}

div#suggestions ul li:hover {
	background-color: #CCCCCC !important;
}

@media screen and (max-width: 480px) {
	div#suggestions {
		margin-left: 0px;
	}
	
	div#suggestions h3 {
		padding-left: 0px;
	}
	
	div#suggestions ul {
		margin-bottom: 30px;
	}
	
	div#suggestions ul li {
		border-top: none;
		display: block;
		margin: 0px;
	}
	
	div#suggestions ul li:first-child {
		border-top: 1px solid #1F1F1F;
	}
}

/**
 * Dependent courses table
 * ----------------------------------
*/

section.dependent table {
	margin-left: 65px;
	width: 100%;
}

section.dependent table thead th {
	font-weight: bolder;
}

section.dependent table tbody tr td {
	border-top: 1px solid #DDD;
	padding: 7px 8px;
	text-align: center;
}

section.dependent table tbody tr td.delete {
	border-top: none;
}

section.dependent table tbody tr td span {
	display: none;
}

section.dependent table tbody tr td.delete span {
	display: block;
}

@media screen and (max-width: 650px) {
	section.dependent table {
		margin-left: 0px;
	}
	
	section.dependent table thead th {
		display: none;
	}
	
	section.dependent table tbody tr td:first-child {
		margin-top: 20px;
	}
	
	section.dependent table tbody tr:first-child td:first-child {
		margin-top: 0px;
	}
	
	section.dependent table tbody tr td {
		border-top: none;
		display: block;
		padding: 7px 0px;
		text-align: left;
		width: 100%;
	}
	
	section.dependent table tbody tr td:first-child {
		border-top: none;
	}
	
	section.dependent table tbody tr td span {
		display: inline-block;
		padding-right: 20px;
		text-align: right;
		width: 160px;
	}
}

@media screen and (max-width:480px) {	
	section.dependent table tbody tr td span {
		display: block;
		padding-bottom: 5px;
		text-align: left;
	}
	
	section.dependent table tbody tr td.delete span {
		margin: 0px;
		padding: 0px;
	}
}