/**
 * Profile styles
 * ------------------------------------
*/

section.profile {
	background: url(../images/icons/account.png) no-repeat;
	background-position: 0px 50px;
	padding: 0px 0px 30px 150px;
}

section.profile h2 {
	background: #FDEBF3;
	border-right: 4px solid #EDDBE3;
	color: #F49AC1;
	display: inline-block;
	margin: 0px 0px 20px -200px;
	padding: 0px 10px 0px 50px;
	text-align: right;
}

section.profile span.row {
	display: block;
	font-size: 13px;
	padding-bottom: 10px;
}

section.profile span.row strong {
	display: inline-block;
	width: 130px;
}

section.profile span.row a.none {
	font-style: italic;
}

section.profile span.row a.none:hover {
	color: inherit;
}

section.profile button {
	margin: 20px 0px 0px 0px;
}

/**
 * Update profile dialog
 * ------------------------------------
*/

section.update span.row {
	display: block;
	font-size: 13px;
	padding-bottom: 10px;
}

section.update span.row.notification {
	color: #666666;
	font-size: 10px;
}

section.update span.row strong {
	display: inline-block;
	width: 170px;
}

section.update span.row input {
	display: inline-block;
}

section.passwordUnmatch span.ui-icon {
	float: left;
	margin: 5px 7px 10px 0px;
}

/**
 * User's books for sale
 * ------------------------------------
*/

section.books {
	padding-bottom: 30px;
}	

section.books h2 {
	background: #FDF0D5;
	border-right: 4px solid #FCE4B3;
	color: #F7B42C;
	display: inline-block;
	margin: 0px 0px 20px -50px;
	padding: 0px 10px 0px 50px;
	text-align: right;
}

section.books ul {
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	vertical-align: top;
}

section.books ul li.book {
	border-top: 1px solid #CCC;
	clear: both;
	display: inline-block;
	min-height: 100px;
	overflow: auto;
	padding: 15px 0px 15px 0px;
	width: 100%;
}

section.books ul li.book:first-child {
	border-top: none;
}

section.books ul li.book div.alert {
	claer: both;
	display: block;
	height: 100%;
	overflow: auto;
	position: relative;
	width: 100%;
}

section.books ul li.book div.alert.soon {
	background: #FFECEC;
}

section.books ul li.book div.alert.expired {
	background: #F4F4F4;
}

section.books ul li.book div.alert.sold {
	background: #E3FFE3;
}	

section.books ul li.book div.alert a img.cover {
	display: inline;
	float: left;
	max-width: 100px;
	min-width: 100px;
	padding-right: 10px;
}

section.books ul li.book div.alert a.title {
	display: block;
	font-size: 20px;
	padding: 0px 0px 7px 0px;
	margin-right: 150px;
	max-width: none;
	width: auto;
}

section.books ul li.book div.alert span.details {
	display: block;
	font-size: 13px;
	max-width: none;
}

section.books ul li.book div.alert span.details strong {
	display: inline-block;
	width: 50px;
}

section.books ul li.book div.alert a.action, section.books ul li.book div.alert span.action {
	border: 1px solid #999999;
	border-radius: 7px;
	display: inline-block;
	height: 24px;
	padding: 4px 0px 0px 6px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 24px;
	vertical-align: middle;
}

section.books ul li.book div.alert a.action.renew {
	cursor: pointer;
	right: 75px;
}

section.books ul li.book div.alert a.action.renew img {
	padding: 0px;
}

section.books ul li.book div.alert a.action.edit {
	cursor: pointer;
	right: 40px;
}

section.books ul li.book div.alert a.action.deleteBook {
	cursor: pointer;
	right: 5px;
}

section.books ul li.book div.alert a.action img {
	margin: 0px;
	padding: 0px 4px 0px 0px;
}

section.books ul li.book div.alert span.expire {
	font-size: 12px;
	position: absolute;
	right: 5px;
	top: 40px;
}

section.books ul li.book div.alert span.expired {
	background: #CCCCCC;
	border: 1px solid #FFFFFF;
	bottom: 0px;
	color: #333333;
	padding: 2px 3px 2px 3px;
	position: absolute;
	right: 0px;
}

section.books ul li.book div.alert span.expiring {
	background: #F49AC1;
	border: 1px solid #FFFFFF;
	bottom: 0px;
	color: #333333;
	padding: 2px 3px 2px 3px;
	position: absolute;
	right: 0px;
}

section.books ul li.book div.alert span.sold {
	background: #AAD450;
	border: 1px solid #FFFFFF;
	bottom: 0px;
	color: #333333;
	padding: 2px 3px 2px 3px;
	position: absolute;
	right: 0px;
}

/**
 * User's purchases
 * ------------------------------------
*/

section.purchases h2 {
	background: #E9F7FB;
	border-right: 4px solid #D7F0F8;
	color: #90D5EC;
	display: inline-block;
	margin: 0px 0px 20px -50px;
	padding: 0px 10px 0px 50px;
	text-align: right;
}

section.purchases ul {
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	vertical-align: top;
}

section.purchases ul li.book {
	border-top: 1px solid #CCC;
	clear: both;
	display: inline-block;
	min-height: 100px;
	overflow: auto;
	padding: 15px 0px 15px 0px;
	width: 100%;
}

section.purchases ul li.book:first-child {
	border-top: none;
}

section.purchases ul li.book img {
	display: inline;
	float: left;
	max-width: 100px;
	padding-right: 10px;
}

section.purchases ul li.book span.title {
	display: block;
	font-size: 20px;
	padding: 0px 0px 7px 0px;
	margin-right: 150px;
	max-width: none;
	width: auto;
}

section.purchases ul li.book span.details {
	display: block;
	font-size: 13px;
	max-width: none;
}

section.purchases div.none {
	font-weight: bolder;
	padding: 30px 20px 45px 20px;
	text-align: center;
}