/**
 * Header styles
 * ------------------------------------
*/

header.styled h1 {
	padding-left: 319px;
}	

/**
 * Category information sidebar
 * ------------------------------------
*/

aside.info {
	border-right: 4px double #EDEDED;
	clear: both;
	float: left;
	height: 100%;
	width: 305px;
	z-index: 5;
}

aside.info section.cover {
	background: #3D3D3D;
	border: 2px solid #FFFFFF;
	display: block;
	margin: -45px 0px 0px 12px;
	overflow: auto;
	padding: 10px;
	position: relative;
	width: 260px;
	z-index: 500;
}

aside.info section.cover img.cover {
	display: block;
	float: left;
	max-width: 260px;
	min-width: 260px;
}

aside.info section.cover div.facebookContainer, aside.info section.cover div.twitterContainer, aside.info section.cover div.gplusContainer, aside.info section.cover div.pinContainer {
	max-width: 90px;
	overflow: hidden;
	padding: 7px 7px 0px 0px;
	width: 90px;
}

aside.info section.cover div.facebookContainer {
	padding-top: 10px;
}

aside.info section.cover a.buttonLink, aside.info section.cover span.buttonLink {
	bottom: 94px;
	display: inline-table;
	float: right;
	margin: 10px 0px 0px 0px;
	position: absolute;
	right: 10px;
}

aside.info section.toolbar {
	margin: 7px 0px 15px 0px;
	text-align: center;
}

aside.info section.categories h2 {
	font-weight: lighter;
}

aside.info section.categories ul {
	list-style: none;
	padding-left: 10px;
}

aside.info section.categories ul li {
	padding-bottom: 20px;
}

/**
 * Book information content
 * ------------------------------------
*/

section.allInfo {
	border-left: 4px double #EDEDED;
	margin-left: 305px;
	padding-left: 15px;
	width: auto;
}

section.allInfo section {
	padding: 10px 0px 30px 35px;
}

section.allInfo section h2 {
	background: url(../images/icons/book_details.png) no-repeat left;
	color: #333333;
	font-size: 18px;
	margin: 0px 0px 0px -35px;
	padding: 5px 0px 5px 35px;
}

/**
 * General information
 * ------------------------------------
*/

section.allInfo section.general h2 {
	background-position: -111px 3px;
}

section.allInfo section.general span.details {
	font-size: 13px;
	max-width: none;
}

section.allInfo section.general span.details strong {
	display: inline-block;
	width: 50px;
}

section.allInfo section.general span.excellent {
	background: url(../images/icons/condition.png) no-repeat #33CC66;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.veryGood {
	background: url(../images/icons/condition.png) no-repeat #0099FF;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.good {
	background: url(../images/icons/condition.png) no-repeat #FFCC33;
	background-position: 3px -15px;
	border: 1px solid #7B8084;
	color: #000000;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.fair {
	background: url(../images/icons/condition.png) no-repeat #FF6633;
	background-position: 3px -34px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.poor {
	background: url(../images/icons/condition.png) no-repeat #CC0000;
	background-position: 3px -34px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.noMarks {
	background: url(../images/icons/quill.png) no-repeat #33CC66;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

section.allInfo section.general span.marks {
	background: url(../images/icons/quill.png) no-repeat #FF6633;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	padding: 2px 3px 2px 25px;
}

/**
 * Seller comments
 * ------------------------------------
*/

section.allInfo section.comments h2 {
	background-position: -75px -33px;
}

/**
 * Classes that use a given book
 * ------------------------------------
*/

section.allInfo section.classes h2 {
	background-position: 0px -110px;
}

section.allInfo section.classes ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

section.allInfo section.classes ul li {
	display: inline-block;
}

section.allInfo section.classes ul li span.classDetails {
	display: block;
	font-weight: bold;
	text-align: center;
}

/**
 * Seller contact information
 * ------------------------------------
*/

section.allInfo section.seller h2 {
	background-position: -38px -75px;
}

section.allInfo section.seller span.details {
	font-size: 13px;
	max-width: none;
}

section.allInfo section.seller span.details strong {
	display: inline-block;
	width: 50px;
}

section.allInfo section.seller span.details strong.extended {
	width: 110px;
}

/**
 * More books by a given seller, and
 * other books in this section
 * ------------------------------------
*/

section.allInfo section.more {
	margin-left: -35px;
	padding: 100px 0px 0px 35px;
}

section.allInfo section.other {
	margin-left: -35px;
}

section.allInfo section.more h2, section.allInfo section.other h2 {
	background: none;
	font-weight: lighter;
}

section.allInfo section.more ul, section.allInfo section.other ul {
	display: block;
	list-style: none;
	min-height: 150px;
	min-width: 30px;
	overflow: hidden;
	padding: 5px 0px 25px 0px;
	width: 100%;
}

section.allInfo section.more ul li, section.allInfo section.other ul li {
	display: inline-block;
	height: 100%;
	max-width: 130px;
	min-width: 130px;
	padding: 0px 0px 0px 15px;
	vertical-align: bottom;
}

section.allInfo section.more ul li:first-child, section.allInfo section.other ul li:first-child {
	padding-left: 0px;
}

section.allInfo section.more ul li a img, section.allInfo section.other ul li a img {
	display: block;
	margin: 0px;
	max-width: 100px;
}

section.allInfo section.more a.more, section.allInfo section.other a.more {
	display: block;
	margin-left: 61px;
	padding: 0px 0px 10px 0px;
	text-align: right;
}

section.allInfo section.more a.more span.arrow, section.allInfo section.other a.more span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px;
}