/**
 * General page styles
 * ------------------------------------
*/

img.shadow {
	height: 41px;
	margin-bottom: 100px;
	max-height: 41px;
	width: 100%;
}

/**
 * Search header
 * ------------------------------------
*/

header.styled.search.noSide h1 {
	padding: 10px 200px 10px 10px;
}

header.styled.search h1 {
	display: block;
	overflow: hidden;
	padding: 10px 200px 10px 345px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

header.styled.search h2 {
	color: #FFFFFF;
}

header.styled.search {
	border-top-color: #006600;
}

header.styled.search h1 {
	background: #A3C8A3;
	border-color: #66A366;
	color: #FFFFFF;
}

/**
 * Search form
 * ------------------------------------
*/

section.searchForm {
	background: url(../images/bookshelf.jpg) no-repeat center;
	border: 3px solid #333333;
	display: block;
	height: 500px;
	margin-top: 10px;
	text-align: center;
}

section.searchForm div.mask {
	background-color: rgba(24, 31, 35, 0.5);
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000);
	margin-top: 100px;
	padding: 25px 0px 25px 0px;
}

section.searchForm div.mask form {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	vertical-align: top;
	width: 200px;
}

section.searchForm div.mask form h2 {
	font-size: 16px;
	margin: 0px 0px 5px 0px;
	text-align: center;
}

section.searchForm div.mask form input.search {
	margin-top: 5px;
}

section.searchForm div.mask form span.inputClear {
	margin-top: 3px;
}

section.searchForm div.mask form span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

section.searchForm div.mask form span.expand:hover {
	background-position: 0px -19px;
}

section.searchForm div.mask form div.controls {
	padding: 5px 0px 50px 0px;
}

section.searchForm div.mask form div.controls span.searchStep {
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	vertical-align: top;
}

section.searchForm img.animatedSearch {
	left: 10%;
	position: absolute;
	top: 550px;
}

/**
 * Search sidebar
 * ------------------------------------
*/

aside.tools {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	width: 330px;
	z-index: 2;
}

aside.tools section.options {
	background: #3D3D3D;
	border: 2px solid #FFFFFF;
	margin: -45px 0px 0px 12px;
	padding: 15px 0px 15px 15px;
	width: 290px;
	z-index: 500;
}

aside.tools section.options form {
	display: block;
	padding: 0px;
}

aside.tools section.options form h2 {
	color: #FFFFFF;
	font-size: 16px;
	margin: 0px 0px 5px 0px;
}

aside.tools section.options form input.search {
	width: 242px;
}

aside.tools section.options form div.controls {
	padding: 5px 0px 40px 0px;
}

aside.tools section.options form div.controls span.step {
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	text-align: right;
	vertical-align: top;
	width: 68px;
}

aside.tools section.options form div.controls span.step.category {
	padding-top: 13px;
}

aside.tools section.options form div.controls div.menuWrapper {
	display: inline-block;
	float: right;
	margin-right: 18px;
}

aside.tools section.categories h2 {
	color: #006600;
	font-weight: lighter;
}

aside.tools section.categories ul.moreListings {
	list-style: none;
	padding-left: 10px;
}

aside.tools section.categories ul.moreListings li {
	clear: both;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

aside.tools section.categories ul.moreListings li a {
	display: block;
	width: 100%;
}

aside.tools section.categories ul.moreListings li a span.arrow {
	color: #006600;
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 3px;
}

/**
 * Profile styles
 * ------------------------------------
*/

section.profile {
	background: url(../images/icons/account.png) no-repeat;
	border-left: 4px double #EDEDED;
	background-position: 10px 15px;
	height: 153px;
	margin-left: 330px;
	padding: 0px 0px 100px 150px;
}

section.profile.noSide {
	background-position: 0px 15px;
	border-left: none;
	margin-left: 0px;
}

section.profile h2 {
	color: #060;
	font-weight: lighter;
}

section.profile span.row {
	display: block;
	font-size: 13px;
	padding-bottom: 10px;
}

section.profile span.row strong {
	display: inline-block;
	width: 130px;
}

section.profile span.row span.none {
	font-style: italic;
}

/**
 * Search results
 * ------------------------------------
*/

section.results {
	border-left: 4px double #EDEDED;
	margin-left: 330px;
	padding-left: 15px;
	width: auto;
}

section.results.noSide {
	border-left: none;
	margin-left: 0px;
	padding-left: 0px;
}

section.results ul {
	list-style: none;
	padding-left: 0px;
	vertical-align: top;
}

section.results ul li.result {
	border-top: 1px solid #CCCCCC;
	clear: both;
	display: inline-block;
	min-height: 150px;
	overflow: auto;
	padding: 15px 0px 15px 0px;
	position: relative;
	width: 100%;
}

section.results ul li.result:first-child {
	border-top: none;
	padding-top: 0px;
}

section.results ul li.result a img {
	display: inline;
	float: left;
	max-width: 100px;
	min-width: 100px;
	padding-right: 10px;
}

section.results ul li.result a.title {
	display: block;
	font-size: 20px;
	padding: 0px 0px 7px 0px;
	max-width: none;
	width: auto;
}

section.results ul li.result span.details {
	display: block;
	font-size: 13px;
	max-width: none;
}

section.results ul li.result span.details strong {
	display: inline-block;
	width: 55px;
}

section.results ul li.result a.buttonLink {
	bottom: 15px;
	left: 110px;
	position: absolute;
}

section.results ul li.result span.excellent {
	background: url(../images/icons/condition.png) no-repeat #33CC66;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	bottom: 65px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 2px 3px 2px 25px;
	position: absolute;
	right: 0px;
}

section.results ul li.result span.veryGood {
	background: url(../images/icons/condition.png) no-repeat #0099FF;
	background-position: 3px 3px;
	border: 1px solid #7B8084;
	bottom: 65px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 2px 3px 2px 25px;
	position: absolute;
	right: 0px;
}

section.results ul li.result span.good {
	background: url(../images/icons/condition.png) no-repeat #FFCC33;
	background-position: 3px -15px;
	border: 1px solid #7B8084;
	bottom: 65px;
	color: #000000;
	font-size: 14px;
	padding: 2px 3px 2px 25px;
	position: absolute;
	right: 0px;
}

section.results ul li.result span.fair {
	background: url(../images/icons/condition.png) no-repeat #FF6633;
	background-position: 3px -34px;
	border: 1px solid #7B8084;
	bottom: 65px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 2px 3px 2px 25px;
	position: absolute;
	right: 0px;
}

section.results ul li.result span.poor {
	background: url(../images/icons/condition.png) no-repeat #CC0000;
	background-position: 3px -34px;
	border: 1px solid #7B8084;
	bottom: 65px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 2px 3px 2px 25px;
	position: absolute;
	right: 0px;
}

section.results ul li.result ul.classes {
	bottom: 15px;
	height: 37px;
	position: absolute;
	right: 0px;
	text-align: right;
}

section.results ul li.result ul.classes li {
	display: inline-block;
	height: 37px;
	vertical-align: middle;
}

section.results ul li.result ul.classes li img {
	margin: 0px;
	padding: 0px;
}

section.results ul li.result ul.classes li span.directions {
	display: block;
	padding-top: 5px;
}

section.results ul li.result ul.classes li span.courseDetails {
	color: #000000;
	display: block;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

/**
 * Search results paginator
 * ------------------------------------
*/

section.results ul.pagination {
	padding-top: 35px;
	text-align: center;
}

section.results ul.pagination li {
	background: url(../images/icons/dot.png) no-repeat;
	background-position: 0px 7px;
	display: inline-block;
	padding-left: 8px;
	vertical-align: top;
	width: 25px;
}

section.results ul.pagination li a {
	padding: 3px;
}

section.results ul.pagination li a:hover {
	background: #A3C8A3;
	color: #000000;
}

section.results ul.pagination li.noDot {
	background: none;
	padding-left: 0px;
}

section.results ul.pagination li.more {
	font-weight: bold;
}

section.results ul.pagination li.back {
	background: none;
	padding: 0px 10px 0px 0px;
}

section.results ul.pagination li.back a {
	background: url(../images/icons/pagination.png) no-repeat;
	display: inline-block;
	height: 16px;
	margin-top: 1px;
	padding: 0px;
	width: 11px;
}

section.results ul.pagination li.current a {
	background: #A3C8A3;
	color: #FFFFFF;
}

section.results ul.pagination li.forward {
	background: none;
	padding: 0px 0px 0px 10px;
}

section.results ul.pagination li.forward a {
	background: url(../images/icons/pagination.png) no-repeat;
	background-position: 0px -16px;
	display: inline-block;
	height: 16px;
	margin-top: 1px;
	padding: 0px;
	width: 11px;
}