/**
 * Page header
 * ------------------------------------
*/

header.styled h1 {
	padding-left: 305px;
}

header.styled.noSide h1 {
	padding-left: 10px;
}

/**
 * Sort by bar
 * ------------------------------------
*/

div.sort {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	padding: 5px;
	text-align: right;
}

div.sort span, div.sort form {
	display: inline;
}

/**
 * Category information sidebar
 * ------------------------------------
*/

aside.info {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	width: 290px;
	z-index: 2;
}

aside.info img.icon {
	background: #3D3D3D;
	border: 2px solid #FFFFFF;
	margin: -45px 0px 0px 12px;
	padding: 10px 7px 0px 7px;
	z-index: 500;
}

aside.info h2 {
	font-weight: lighter;
}

aside.info form span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

aside.info form span.expand:hover {
	background-position: 0px -19px;
}

aside.info form div.controls {
	padding: 7px 0px 7px 0px;
}

aside.info form div.controls span.step {
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	vertical-align: top;
}

aside.info section ul {
	list-style: none;
	padding-left: 2px;
}

aside.info section ul li {
	clear: both;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

aside.info section ul li img {
	display: inline;
	float: left;
	max-width: 60px;
	min-width: 60px;
	padding-right: 5px;
}

aside.info section ul li a.title {
	display: block;
	max-width: 200px;
	min-width: 200px;
	padding-top: 0px;
	width: 200px;
}

aside.info section ul li span.details {
	display: block;
	max-width: 200px;
	min-width: 200px;
	width: 200px;
}

aside.info section ul li span.details strong {
	display: inline-block;
	width: 35px;
}

aside.info section.categories ul {
	padding-left: 10px;
}

aside.info section.categories ul li a {
	display: block;
	width: 100%;
}

aside.info section.categories ul li a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 3px;
}

/**
 * Main cateogry listing content
 * ------------------------------------
*/

section.listing {
	border-left: 4px double #EDEDED;
	margin-left: 290px;
	padding-left: 15px;
	width: auto;
}

section.listing.noSide {
	border-left: none;
	margin: 0px;
	padding: 0px;
}

section.listing article.description {
	border-bottom: 4px double #EDEDED;
	margin-left: -15px;
	padding: 0px 0px 7px 15px;
}

section.listing article.description section.article {
	max-height: 350px;
	overflow: hidden;
	position: relative;
}

section.listing article.description section.article.loading {
	background: url(../images/icons/loading.gif) no-repeat center;
	height: 50px;
}

section.listing article.description section.article::after {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    bottom: 0;
    content: '';
	height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

section.listing article.description a.buttonLink {
	float: right;
	margin-top: 5px;
}

section.listing article.description section.disclaimer {
	font-size: 10px;
	padding-top: 35px;
}

/**
 * Book listing by class and section 
 * letter
 * ------------------------------------
*/

section.listing section.empty {
	font-weight: bolder;
	padding: 30px 20px 45px 20px;
	text-align: center;
}

section.listing section.books section.courses h2 {
	font-weight: lighter;
	margin: 5px 0px 5px 0px;
}

section.listing section.books section.courses:first-child h2 {
	margin-top: 30px;
}

section.listing section.books section.courses ul {
	display: block;
	list-style: none;
	margin-bottom: 25px;
	min-height: 150px;
	min-width: 30px;
	overflow: hidden;
	padding: 5px 0px 0px 0px;
	position: relative;
	width: 100%;
}

section.listing section.books section.courses ul li {
	display: inline-block;
    *display: inline-table;
    height: 100%;
    max-width: 130px;
    min-width: 130px;
    padding: 0px 0px 0px 15px;
    vertical-align: bottom;
	zoom: 1;
}

section.listing section.books section.courses ul li.section {
	border-right: 1px solid #999999;
	bottom: 25px;
	font-weight: bold;
	height: 100%;
	max-width: 30px;
	min-width: 30px;
	padding: 0px 0px 0px 15px;
	position: absolute;
    top: 5px;
	vertical-align: top;
	width: 30px;
}

section.listing section.books section.courses ul li.firstBook {
    padding-left: 65px;
}

section.listing section.books section.courses ul li img {
	display: block;
	margin: 0px;
	max-width: 100px;
	min-width: 100px;
}

section.listing section.books section.courses ul li span.details {
	max-width: 130px;
	min-width: 130px;
}

section.listing section.books section.courses ul li span.details strong {
	display: inline-block;
	width: 35px;
}

section.listing section.books section.courses ul.viewAll li {
	display: inline-block;
	padding: 0px 15px 35px 0px;
}

section.listing section.books section.courses > a {
	display: block;
	margin-left: 61px;
	padding: 0px 0px 10px 0px;
	text-align: right;
}

section.listing section.books section.courses > a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px;
}

section.listing section.books section.empty {
	height: 200px;
}