/**
 * General page styles
 * ------------------------------------
*/

header h1.title {
	display: none;
}

img.shadow {
	height: 41px;
	max-height: 41px;
	width: 100%;
}

a.explore {
	color: #4BF;
	font-size: 24px;
	font-weight: lighter;
}

/**
 * Welcome page section one
 * ------------------------------------
*/

section.welcome {
	background: url(../images/welcome/bookshelf.jpg) no-repeat center;
	border: 3px solid #333333;
	display: block;
	height: 500px;
	text-align: center;
}

section.welcome div.design {
	background: url(../images/welcome/logo.png) no-repeat bottom right;
	height: 475px;
	margin-top: 20px;
}

section.welcome div.design h1 {
	background-color: rgba(24, 31, 35, 0.5);
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000); 
	font-size: 50px;
	margin-top: 0px;
}

section.welcome div.design div.mask {
	background-color: rgba(24, 31, 35, 0.5);
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000); 
	padding: 25px 0px 25px 0px;
}

section.welcome div.design div.mask div.sell {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: top;
	width: 250px;
}

section.welcome div.design div.mask div.sell ul {
	list-style: none;
	margin-left: 30px;
	padding: 0px;
}

section.welcome div.design div.mask div.sell ul li {
	background: url(../images/welcome/actions.png) no-repeat;
	margin-bottom: 8px;
	padding: 5px 0px 5px 40px;
	text-align: left;
}

section.welcome div.design div.mask div.sell ul li.search {
	background-position: 0px -37px;
}

section.welcome div.design div.mask div.sell ul li.browse {
	background-position: 0px -76px;
}

section.welcome div.design div.mask div.sell ul li a {
	color: #FFFFFF;
	display: block;
	font-weight: bolder;
}

section.welcome div.design div.mask div.sell ul li a:hover {
	color: #4BF;
}

section.welcome div.design div.mask div.sell ul li a:active {
	color: #C36;
}

section.welcome div.design div.mask span.divider {
	display: inline-block;
	margin-right: 47px;
	width: 1px;
}

section.welcome div.design div.mask div.search {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	vertical-align: top;
	width: 250px;
}

section.welcome div.design div.mask div.search h2.search {
	font-size: 16px;
	margin: 0px 0px 5px 0px;
}

section.welcome div.design div.mask div.search input.search {
	margin-top: 5px;
}

section.welcome div.design div.mask div.search span.inputClear {
	margin-top: 3px;
}

section.welcome div.design div.mask div.search span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

section.welcome div.design div.mask div.search span.expand:hover {
	background-position: 0px -19px;
}

section.welcome div.design div.mask div.search div.controls {
	padding: 7px 0px 50px 0px;
}

section.welcome div.design div.mask div.search span.searchStep {
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	vertical-align: top;
}

/**
 * Welcome page section two
 * ------------------------------------
*/

section.introduction {
	background: #F8F8F8;
	border: 1px solid #D5D5D5;
	text-align: center;
}

section.introduction section.video {
	background: #000000;
	font-size: 48px;
	min-height: 500px;
	padding-top: 100px;
}

section.introduction section.description {
	background: url(../images/welcome/down_arrows.png) no-repeat bottom right;
	margin: 0px 15px 15px 15px;
	padding-bottom: 5px;
}

section.introduction section.description h2 {
	background: url(../images/welcome/luxurious.png) no-repeat;
	background-position: 463px 0px;
	display: inline-block;
	font-size: 50px;
	font-weight: lighter;
	padding-top: 25px;
	margin: 5px auto 0px auto;
}

section.introduction section.description p {
	font-size: 24px;
}

/**
 * Welcome page section three
 * ------------------------------------
*/

section.screenshots {
	background: url(../images/welcome/down_arrows.png) no-repeat bottom right;
	padding: 25px 0px 45px 0px;
}

section.screenshots div.overflowHide {
	margin: 0px auto 0px auto;
	max-width: 1000px;
	overflow: hidden;
}

section.screenshots div.overflowHide ul.scrollerContainer {
	list-style: none;
}

section.screenshots div.overflowHide ul.scrollerContainer li {
	display: inline-block;
	max-width: 1000px;
	padding-left: 0px;
	width: 1000px;
}

section.screenshots div.overflowHide ul.scrollerContainer li img {
	display: block;
	margin: 0px auto 0px auto;
}

section.screenshots h2 {
	color: #333333;
	margin: 0px;
	padding: 35px 0px 10px 0px;
}

section.screenshots p {
	margin: 0px;
}

section.screenshots p strong {
	color: #333333;
}

/**
 * Welcome page section four
 * ------------------------------------
*/

section.tiles {
	background: url(../images/welcome/down_arrows.png) no-repeat bottom right;
	border-top: 1px solid #CCCCCC;
	display: block;
	height: 441px;
	margin-top: 35px;
	padding: 75px 0px 35px 0px;
}

section.tiles div.design {
	background: url(../images/welcome/exchange_tiles.png) right center no-repeat;
	height: 100%;
	padding-right: 550px;
}

section.tiles h2 {
	color: #333333;
	margin: 0px;
	padding: 35px 0px 10px 0px;
}

section.tiles p {
	margin-top: 0px;
}

section.tiles p strong {
	color: #333333;
}

/**
 * Welcome page section five
 * ------------------------------------
*/

section.features {
	background: url(../images/welcome/down_arrows.png) no-repeat bottom right;
	border-top: 1px solid #CCCCCC;
	display: block;
	height: 550px;
	margin-top: 35px;
	padding: 75px 0px 15px 0px;
	position: relative;
}

section.features h2 {
	color: #333333;
}

section.features p {
	margin: 0px;
}

section.features a {
	display: block;
	margin: 15px 0px 80px 0px;
}

section.features p strong {
	color: #333333;
}

section.features div.description {
	padding-left: 575px;
}

section.features img.sell {
	position: absolute;
	left: 100px;
	top: 75px;
}

section.features img.search {
	position: absolute;
	left: 50px;
	top: 275px;
}

/**
 * Welcome page section six
 * ------------------------------------
*/

section.closing {
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	display: block;
	margin-top: 35px;
	padding: 75px 0px 50px 0px;
}

section.closing div.design {
	background: url(../images/welcome/down_arrows.png) no-repeat bottom right;
	padding-bottom: 15px;
}

section.closing ul {
	line-height: 150%;
	list-style: none;
	margin: 0px 10% 0px 10%;
	padding: 0px;
	width: 80%;
}

section.closing ul li {
	background: no-repeat center right;
	min-height: 200px;
	padding: 15px 250px 15px 15px;
	position: relative;
	text-align: right;
}

section.closing ul li h3 {
	color: #333333;
	font-size: 24px;
}

section.closing ul li a {
	font-size: 20px;
}

section.closing ul li p strong {
	color: #333333;
}

section.closing ul li button {
	bottom: 15px;
	margin: 0px auto 0px auto;
	left: 25%;
	position: absolute;
	text-align: center;
	width: 50%;
}

/**
 * Welcome page section seven
 * ------------------------------------
*/

section.finish {
	background: url(../images/welcome/money.png) no-repeat top right;
	display: block;
	height: 450px;
	margin: 75px -12.5% -10px -12.5%;
	overflow-x: hidden;
}

section.finish div.books {
	background: url(../images/welcome/book_stack.png) no-repeat bottom left;
	height: 100%;
	position: relative;
	width: 100%;
}

section.finish div.books div.pointer {
	background: url(../images/welcome/arrow.png) no-repeat bottom right;
	bottom: 150px;
	height: 82px;
	left: 225px;
	position: absolute;
	right: 300px;
}

section.finish div.books {
	text-align: center;
}

section.finish div.books h2 {
	color: #333333;
	font-size: 36px;
	font-weight: lighter;
	margin: 0px 0px 25px 0px;
	text-align: center;
}

section.finish div.books button {
	font-size: 32px;
	padding: 15px 55px 15px 55px;
}

section.finish div.books span.alternate {
	display: block;
	font-size: 16px;
	padding-top: 5px;
}